/** search **/
.search-form {
    width: 700px;
    height: 120px;
}
.type{
    width: 200px;
    display: inline-block;
}
.nickname{
    display: inline-block;
    width: 260px;
}

.first-row{
    margin-top: 10px;
}
.search-input{
    height: 26px;
}
p{
    float: left;
    font-weight: bold;
}
.two-row{
    margin-top: 15px;
    margin-bottom: 10px;
    width: 600px;
}

.icon-box{
    display: inline-block;
    margin-top: 10px;
    width: 25px;
    height: 25px;
}

.btn-search {
    cursor: pointer;
    float: right;
    display: inline-block;
    margin-top: 5px;
    width: 25px;
    height: 25px;
    background: url(../images/bg_icon.png) no-repeat -50px 0;
}



/* show log */
.account {
    border-radius: 50%;
    background-color: #00aaaa;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 10px;
}

.list-container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.log-user {
    width: 100%;
    height: 60px;
    padding: 0px;
    margin: 0px;

}

.pic {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    background-color: #00aaaa;
}

.pic-box {
    float: left;
    display: inline-block;
    width: 70px;
}

.name-date {
    float: left;
    line-height: 30px;
    display: inline-block;
    width: 200px;
}

.btn-box {
    float: left;
    display: inline-block;
    width: 200px;
}

.list-name {
    display: inline-block;
}

.list-content {
    display: inline-block;
}
.log-alter{
    border-radius: 20%;
    background-color: gainsboro;
    width: 60px;
    height: 60px;
    color: lightslategrey;
    text-align: center;
    line-height: 50px;
    font-size: 10px;
    padding: 8px;
}


/** add log **/
.box-data {
    width: 100%;
    height: auto;
}

.log-type {
    margin-top: 10px;
}

.log-type-box {
    display: inline-block;
    margin-right: 10px;
}

.log-type div img {
    width: 80px;
    height: 80px;
}

.btn-submit {
    margin-top: 10px;
}

p span {
    color: red;
}

#daily, #week, #month, #year {
    margin-top: 20px;
}

#callBackPager{
    float: right;
}