.table-bar{
	height: auto;
	padding: 15px 0px 8px;
	zoom: 1;
	overflow: hidden;
	margin: 0 20px;
}

.fr {
	float: left!important;
}

.cf, #contents .nav {
}

.search-form {
	margin-bottom: 10px;
}

.search-form .type{
	float: left;
	margin-top: 5px;
}
.search-form .sleft {
	float: left;
	border: 1px solid #ebebeb;
	background-color: #fff;
	margin-right:20px;
}

.search-form .search-input {
	float: left;
	padding: 2px 4px;
	width: 120px;
	height: 24px;
	line-height: 26px;
	border: 0 none;
	margin-bottom: 0;
}

.btn-search {
	display: inline-block;
	margin-top: 5px;
	width: 16px;
	height: 16px;
	background: url(../images/bg_icon.png) no-repeat -50px 0;
}