/** search **/
.search-form {
    width: 700px;
    height: 150px;
}

.type {
    width: 200px;
    display: inline-block;
}

.nickname {
    display: inline-block;
    width: 280px;
    margin-left: 10px;
}

.first-row {
    margin-top: 10px;
}

.search-input {
    height: 26px;
}

p {
    float: left;
}

.two-row {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 600px;
}

.icon-box {
    display: inline-block;
    margin-top: 10px;
    width: 25px;
    height: 25px;
}

.btn-search {
    cursor: pointer;
    float: right;
    display: inline-block;
    margin-top: 5px;
    width: 25px;
    height: 25px;
    background: url(../images/bg_icon.png) no-repeat -50px 0;
}

/* show log */
.account {
    border-radius: 50%;
    background-color: #00aaaa;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 10px;
}

.list-container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 10px;
    /*margin-bottom: 20px;*/
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    /*margin-left: -8px;*/
}

.log-user {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;

}

.pic {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    background-color: #00aaaa;
}

.pic-box {
    float: left;
    display: inline-block;
    width: 70px;
}

.name-content {
    word-wrap: break-word;
    display: inline-block;
}

.date {
    color: #999;
    font-size: 12px;
    display: inline-block;
}

.btn-box {
    width: 40px;
    display: inline-block;
}

.log-user-name {
    color: #5d9cec;
}

.list-name {
    display: inline-block;
}

.list-content {
    display: inline-block;
}

.log-alter {
    border-radius: 66%;
    background-color: gainsboro;
    width: 60px;
    height: 60px;
    color: lightslategrey;
    text-align: center;
    line-height: 50px;
    font-size: 10px;
    padding: 8px;
}

.split {
    position: relative;
    padding: 20px;
    /*margin: 20px 0 0px 25px;*/
    border-left: 1px solid #d3d3d3;
    height: auto;
    margin-top: 50px;
    padding-bottom: 0px;
    padding-right: 0px;
}

/** add log **/
.box-data {
    width: 100%;
    height: auto;
}

.log-type {
    margin-top: 10px;
}

.log-type-box {
    display: inline-block;
    margin-right: 10px;
}

.log-type div img {
    width: 80px;
    height: 80px;
}

.btn-submit {
    margin-top: 10px;
}

p span {
    color: red;
}

p {
    width: 110px;
    padding: 8px;
}

textarea {
    width: 581px;
    height: 150px;
}

#daily, #week, #month, #year {
    margin-top: 20px;
}

#callBackPager {
    float: right;
}

/** 918 new  --  start **/
.main-content {
    width: calc(100% - 340px);
    display: inline-block;
}

#layout {
    /*margin-top: 14px;*/
    /*margin-left: -30px;*/

}

.log-info {
    width: 800px;
}

.user-login-info {
    width: 310px;
    min-height: 300px;
    display: inline-block;
    float: right;
    margin-right: 10px;
    border: 1px solid #e7e7e7;
}

.user-info {
    margin-top: 25px;
    margin-left: 20px;
}

dt {
    /*margin: -5px 0 0 -60px;*/
    position: absolute;
    top: -30px;
    left: -20px;
    border-radius: 40px;
    background-color: #2aa198;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: white
}

.report {
    border: 1px solid #e7e7e7;
    padding: 20px;
    background-color: white;
    width: 99%;
}

.report-search > div:not(.filter) {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.report-month {
    width: 36px;
    text-align: center;
    margin-right: 5px;
}

.report-user-name {
    float: right;
}

.report-user-name > div:not(.filter) {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.search-btn-box {
    margin-left: 5px;
}

/*溢出部分样式*/
tr td {
    padding: 0 7px;
    word-break:break-all;
    text-align: center;
}
tr th {
    text-align: center;
}

table {
    table-layout: fixed; /* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
}

#upload-logo-panel .wraper {
    float: left;
    background: #f6f6f6;
    position: relative;
    width: 360px;
    height: 360px;
    overflow: hidden;
}

#upload-logo-panel .watch-crop-list {
    width: 170px;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #f6f6f6;
    text-align: center;
    float: right;
    height: 360px;
}

#image-wraper {
    text-align: center;
}

.watch-crop-list > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.webuploader-container div {
    width: 77px !important;
    height: 40px !important;
    left: 0 !important;
}

.img-preview {
    margin: 5px auto 10px auto;
    text-align: center;
    overflow: hidden;
}

.img-preview > img {
    max-width: 100%;
}

.preview-lg {
    width: 120px;
    height: 120px;
}

.preview-sm {
    width: 60px;
    height: 60px;
}

#error-message {
    font-size: 13px;
    color: red;
    vertical-align: middle;
    margin-top: -10px;
    display: inline-block;
    height: 40px;
}

#template-modal .container {
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 0 15px;
    box-sizing: border-box;
}

#template-modal .container .section {
    position: relative;
    margin: 0 15px;
    padding-top: 60px;
    float: left;
    width: 150px;
    height: 236px;
    background: #fdfefe;
    border: 1px solid #ddddd9;
    text-align: center;
}

#template-modal .container .section>a {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: -28px;
    width: 56px;
    height: 56px;
    margin-left: -28px;
}

#template-modal .container .section>a .fa {
    display: inline-block;
    width: 56px;
    height: 56px;
    background-color: #fbfefe;
    border: 1px solid #ddddd9;
    border-radius: 50%;
    line-height: 54px;
    font-size: 24px;
    color: #ddddd9;
}

.fa {
    font-weight: 100 !important;
}


.markdown-body h1, h2, h3, h4, h5, h6 {
    color: #333;
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: 300;
    line-height: 1.4;
}

#template-modal .container .section>h3 a {
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    color: #5d606b;
}

#template-modal .container .section ul {
    margin-top: 35px;
    padding-left: 0;
    list-style: none;
}

#template-modal .container .section ul li {
    margin-bottom: 10px;
    padding: 0 10px;
    line-height: 1.2;
    color: #8e8d8d;
}

/** 919 new  --  end  **/